$primary: #6C75E4;
$success:  #2FD1C8;
$info: #9591A8;
$primary-gradient: linear-gradient(85.67deg, #62cdfc 5.51%, #7b86f5 96.8%);
$body-color: #E0E0E0;
$btn-close-color: #fff;
$btn-primary-color: #fff;
$background-gradient: linear-gradient(77.75deg, #34488F -1.93%, #1E0F3B 81.12%);

// Typography
$font-family-sans-serif: "Poppins";
$text-highlight: #4846AC;

//Components
$h2-color: #D5D7E3;
$subtitle-color: #AAACBE;
