body {
    background: linear-gradient(77.75deg, #34488F -1.93%, #1E0F3B 81.12%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins";
    color: white;
}